 // LOADER
#loading{
    background-color: #bd4932;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 111;
    margin-top: 0px;
    top: 0px;
    transition: opacity .3s linear, z-index .1s linear .3s;

    &.hide {
        z-index: -1;
        opacity: 0;
    }
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
}
#object{
    width: 80px;
    height: 80px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite ease-in-out;
    animation: animate 1s infinite ease-in-out;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}
@-webkit-keyframes animate {
    0% { -webkit-transform: perspective(160px); }
    50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
    100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
    0% {
        transform: perspective(160px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    } 50% {
          transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
          -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
      } 100% {
            transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
            -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        }
}

// CONTAINER
.container {
    margin: 0 auto;

    &.sm {
        max-width: 684px;
    }
}

// LINK
a {
    color: $linkColor;
    cursor: pointer;

    &.link-big {
        font-size: $linkFontSizeLarge;
    }

    &.link-small {
        font-size: $linkFontSizeSmall;
    }

    &:hover {
        color: $linkColorHover;
    }
}

// TITLE
%title {
    color: $titleColor;
    font-size: $titleFontSize;
    font-weight: $fontMedium;
}
.page-title {
    @extend %title;
    text-transform: uppercase;
}
.section-title {
    @extend %title;
}

// BUTTON
.btn {
    font-weight: $fontLight;
    border-radius: 2px;
    padding: 13px 22px;
    line-height: $lineHeight;
    color: $btnFontColor;
    font-size: 18px;

    &.btn-default {
        background-color: $btnDefaultBg;

        &:hover {
            background-color: $btnDefaultHoverBg;
        }
    }

    &.btn-orange {
        background-color: $btnOrangeBg;

        &:hover {
            background-color: $btnOrangeHoverBg;
        }
    }

    &[disabled] {
        display: flex;
        align-items: center;
        background-color: $btnDisabledBg;
        cursor: not-allowed;

        i {
            margin-right: 16px;
            display: flex;
        }

        &:hover {
            background-color: $btnDisabledBg;
        }
    }
}

// INPUTS
.input-group {
    position: relative;

    i {
        font-size: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    }

    .input-form {
        padding: 13px;
        font-size: 14px;
        line-height: $lineHeight;
        border-radius: 4px;
        border: 2px solid $inputBorderColor;
        color: $inputColor;
        cursor: pointer;

        &[type="password"] {
            padding-left: 44px;

        }

        &.text-area {
            min-height: 100px;
            font-size: 12px;
        }

        &[disabled] {
            border-color: $inputDisabledBorderColor;
            color: $inputDisabledFontColor;
            background-color: #fff;

            &:hover {
                border-color: $inputDisabledBorderColor;
                color: $inputDisabledFontColor;
            }
        }

        &:hover {
            border-color: $inputBorderColorHover;
        }

        &:focus {
            border-color: $inputBorderColorHover;
            outline: none;
        }
    }
}

// DECORATION COMPONENTS
.notification-status {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    
    &.status-orange {
        background-color: #f58220;
    }
    &.status-green {
        background-color: #04ae00;
    }
}

// HEADER
#header {
    width: 100%;
    border-bottom: 1px solid $lightGrey;
    background-color: $headerBg;

    .user-control {
        padding: 18px;
        border-left: 1px solid $lightGrey;
        font-weight: $fontRegular;
        font-size: 20px;
        color: $darkGrey;
        cursor: pointer;
        position: relative;

        &.open {
            background-color: $xsLightGrey;

            .icon-arrow-down {
                transform: rotate(180deg);
            }
        }

        span {
            margin: 0 20px 0 15px;
        }

        .icon-notification {

            .notification-status {
                top: -5px;
                left: -5px;
            }
        }
        
        .user-name {
            color: #56819f;
            font-size: 13px;
        }
        
        .icon-arrow-down {
            font-size: 12px;
            margin-bottom: -1px;
            line-height: 0;
        }
        
        &:hover {
            background-color: #f5f5f2;
        }
    }
}
// ASIDE
%activeLink {
    border-left-color: $orange;
    background-color: $activeLinkBg;
    color: $activeLinkColor;
}

#aside {
    background-color: $asideBg;
    width: $asideWidth;
    height: 100vh;
    left: 0;
    z-index: 100;

    .menu-control {
        padding: 18px;

        .menu-btn {
            cursor: pointer;

            span {
                display: block;
                width: 18px;
                height: 2px;
                background-color: $darkGrey;

                & + span {
                    margin-top: 5px;
                }
            }
        }
    }

    .aside-menu {
        padding-bottom: 26px;

        ul {

            li {
                &.active {
                    a {
                        @extend %activeLink;
                    }
                }

                a {
                    padding: 14px;
                    border-left: 4px solid transparent;
                    display: flex;
                    align-items: center;
                    color: $darkGrey;


                    [class*='icon-'] {
                        font-size: 17px;
                        margin-right: 15px;
                    }

                    &:hover {
                        @extend %activeLink;
                    }
                }
            }
        }
    }

    .your-manager {
        padding: 26px 18px;
        border-top: 2px solid #333333;

        .manager-title {
            font-weight: $fontMedium;
            color: #808080;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 18px;
        }

        .manager-info {

            .manager-img {
                border-radius: 50%;
                margin-right: 10px;

                .notification-status {
                    height: 11px;
                    width: 11px;
                    top: 0;
                    right: 0;
                }
            }
            
            .manager-name {
                color: #56819f;
            }
        }
    }
}

// CONTENT
.content-wrapper {
    padding: 18px;
    height: calc(100vh - 62px);
    overflow-y: auto;
}
// CARD
.card {
    background-color: $cardBg;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .card-header {
        border-bottom: 1px solid $lightGrey;
        padding: 18px;
    }

    .card-date {
        padding: 30px 0;
        border-bottom: 1px solid $lightGrey;
    }

    .card-form {
        .select-group {
            padding: 18px;
        }
        .input-group {
            label {
                display: block;
            }
            input {
                width: 100%;
            }
        }
    }
}

// DATEPICKER
.datepicker-form {

    .date-input-wrap {
        padding: 5px 0;
        display: inline-block;
        border: 1px solid $lightGrey;
        border-radius: 3px;
        color: $black;
        margin-right: 10px;
        vertical-align: middle;

        input {
            padding: 11px 16px;
            vertical-align: middle;

            &#to {
                border-left: 1px solid $lightGrey;
            }
        }

        label {
            display: inline-block;
            padding: 0 14px 0 10px;
            vertical-align: middle;
        }
    }

    .btn {
        vertical-align: middle;
        line-height: 0;
    }
}

// DROPDOWN
.dropdown-menu {
    display: none;
    position: absolute;
    padding: 10px 18px 24px;
    background-color: $xsLightGrey;
    top: 100%;
    left: 0;
    right: 0;

    .dropdown-link {
        font-size: 12px;
        color: #9c9c9c;
        line-height: 2;
        font-weight: $fontRegular;

        .dropdown-price {
            color: #000000;
            font-style: normal;
        }
    }
}

// TABLE
.table {
    font-size: $tableFontSize;
    border-collapse: collapse;

    &.table-links {
        font-size: 16px;

        .icon-links {
            margin-right: 20px;
        }
    }

    [class*="icon-"] {
        cursor: pointer;
    }

    thead {
        tr {
            th {
                text-align: left;
            }
        }
    }
    tbody {
        tr {
            transition: all .2s linear;

            &:hover {
                background-color: $tableTrHover;

                .hide-icon {
                    opacity: 1;
                }
            }
            &:last-child {

                td {
                    border-bottom: 1px solid $xsLightGrey;
                }
            }
        }
    }

    th {
        padding: 18px;
        font-weight: $fontBold;
        color: #a6a6a6;

        .sort-hover-block {
            display: inline-block;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            
            &:hover {
                background-color: #f5f5f2;
                color: #333333;

                [class*="icon-"] {
                    opacity: 1;
                }
            }

            [class*="icon-"] {
                font-size: 9px;
                margin-left: 14px;
                opacity: 0;
            }
        }
    }

    td {
        padding: 18px;
        border-top: 1px solid $lightGrey;

        .hide-icon {
            opacity: 0;
            transition: all .2s linear;
        }
    }
}

// PAGINATION
.pagination-wrap {
    padding: 23px 0;

    .pagination {
        display: flex;
        justify-content: center;

        .pagination-item {
            padding: 13px 17px;
            font-size: 16px;
            line-height: $lineHeight;
            cursor: pointer;

            &.pagination-prev {
                display: flex;
                a {
                    color: #a6a6a6;

                    i {
                        display: flex;
                    }
                }
            }
            &.pagination-next {
                a {
                    color: #a6a6a6;

                    i {
                        display: flex;
                    }
                }
            }
            
            &:hover {
                a {
                    color: #a6a6a6;
                }
                background-color: #f1f3f3;
            }

            &.pagination-active {
                background-color: #f1f3f3;
                color: #a6a6a6;
            }
        }
    }
}

// MODAL
.modal {
    display: none;
    background-color: $modalBg;

    &#links {
        width: 70%;
        min-height: 100px;
    }
}