// main
#main {
    padding-left: $asideWidth;
    padding-top: 62px;
}

// links page
.wrapper {
    .btn-row {
        padding: 23px 0;
    }
}
.payout {
    padding: 0 15px;

    @media (max-width: 1199px) {
        overflow-x: scroll;
    }
}
.details {
    padding: 0 15px;

    @media (max-width: 1199px) {
        overflow-x: scroll;
    }
}
._mobileSidebar {

    #main {
        padding-left: $asideMobileWidth;
    }

    #aside {
        width: $asideMobileWidth;

        .logo {
            display: none;
        }

        .menu-control {
            justify-content: center;
            padding-top: 23px;
            padding-bottom: 23px;
        }

        .aside-menu {

            li {
                text-align: center;
                position: relative;

                &:hover {
                    a {
                        span {
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                        }
                    }
                }

                a {
                    justify-content: center;

                    i {
                        line-height: 0;
                        margin-right: 0;
                        margin-left: -2px;
                    }
                    span {
                        display: none;
                        position: absolute;
                        background-color: $activeLinkBg;
                        left: 100%;
                        top: 0;
                        height: 100%;
                        min-width: 150px;
                    }
                }
            }
        }

        .your-manager {
            padding: 16px 10px 10px;

            .manager-title {
                display: none;
            }

            .manager-info {

                .manager-img {
                    width: 40px;
                    height: 40px;
                    margin-right: 0;
                }
                .manager-name {
                    display: none;
                }
            }
        }
    }
}
.generate-links {
    padding: 15px;
    @media (max-width: 767px) {
        justify-content: center;
    }
    input[type="text"] {
        flex-grow: 1;
        @media (max-width: 767px) {
            width: 80%;
            flex-grow: 0;
        }
    }
    .btn {
        margin-left: 15px;
        @media (max-width: 575px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            margin-top: 15px;
            margin-left: 0;
            width: 80%;
        }
    }
}

.create-pixel {

    text-align: right;

    @media (max-width: 767px) {
        text-align: center;
    }

    .btn {
        @media (max-width: 575px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            margin-top: 80px;
        }
        @media (min-width: 768px) {
            margin-right: 15px;
        }
    }
}

.range-title {
    display: block;
}

.chart-statistic {
    font-size: 16px;
    flex-wrap: nowrap;
    padding-top: 16px;
    margin-bottom: 60px;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 991px) {
        padding-left: 5px;
        padding-right: 5px;
    }

    .statistic-column {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media (max-width: 767px) {
            width: 80%;
        }
        & + .statistic-column {
            margin-left: 60px;

            @media (max-width: 767px) {
                margin-left: 0;
            }
        }
        .statistic-name {
            display: flex;
            justify-content: space-between;
            font-weight: $fontBold;
            color: $titleColor;
            border-bottom: 1px solid $xsLightGrey;
            padding: 22px 0 8px;

            .statistic-count {
                font-weight: $fontLight;
                color: #333333;
            }
        }
    }
}

.chart-wrap {
    .section-title {
        margin-bottom: 40px;
        @media (max-width: 991px) {
            padding-left: 5px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
    }
}
#personal-form {
    .personal-data {
        border-bottom: 1px solid $xsLightGrey;
        padding: 40px 15px;

        .personal-data-group {
            width: 456px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            @media (max-width: 575px) {
                width: 100%;
            }

            .input-group {
                display: flex;
                justify-content: space-between;

                .section-title {
                    @media (max-width: 575px) {
                        margin-bottom: 10px;
                    }
                }

                @media (max-width: 575px) {
                    flex-direction: column;
                }

                input {
                    width: 306px;
                    @media (max-width: 575px) {
                        width: 100%;
                    }
                }

                & + .input-group {
                    margin-top: 15px;
                }
            }
        }
    }
    .btn-row {
        padding: 23px 15px;

        .btn {
            @media (max-width: 575px) {
                width: 100%;
            }
        }
    }
}
.postpack {

    .card-form {

        .column-wrap {
            @media (max-width: 767px) {
                border-bottom: none;
            }
            .checkbox-wrap {
                @media (max-width: 767px) {
                    flex-basis: 100%;
                    padding-right: 5px;
                    padding-left: 5px;
                }

                .range-title {

                    @media (max-width: 767px) {
                        margin-bottom: 50px;
                        margin-left: 10px;
                    }
                }
                .section-title {
                    @media (max-width: 767px) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

