// main
#main {
    padding-left: $asideWidth;
    padding-top: 62px;
}

// links page
.links {

    .btn-row {
        padding: 23px 0;
    }
}
.payout {
    padding: 0 15px;
}
.details {
    padding: 0 15px;
}
._mobileSidebar {

    #main {
        padding-left: $asideMobileWidth;
    }

    #aside {
        width: $asideMobileWidth;

        .logo {
            display: none;
        }

        .menu-control {
            justify-content: center;
            padding-top: 23px;
            padding-bottom: 23px;
        }

        .aside-menu {

            li {
                text-align: center;
                position: relative;

                &:hover {
                    a {
                        span {
                            display: flex;
                            align-items: center;
                            padding-left: 20px;
                        }
                    }
                }

                a {
                    justify-content: center;

                    i {
                        line-height: 0;
                        margin-right: 0;
                        margin-left: -2px;
                    }
                    span {
                        display: none;
                        position: absolute;
                        background-color: $activeLinkBg;
                        left: 100%;
                        top: 0;
                        height: 100%;
                        min-width: 150px;
                    }
                }
            }
        }

        .your-manager {
            padding: 16px 10px 10px;

            .manager-title {
                display: none;
            }

            .manager-info {

                .manager-img {
                    width: 40px;
                    height: 40px;
                    margin-right: 0;
                }
                .manager-name {
                    display: none;
                }
            }
        }
    }
}
.generate-links {
    input[type="text"] {
        flex-grow: 1;
    }
    .btn {
        margin-left: 15px;
    }
}