// FLEX
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.justify-sb {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.align-self-end {
    align-self: flex-end;
}

// POSITION
.fixed-top {
    position: fixed;
    z-index: 99;
    top: 0;
}
.fixed-bottom {
    position: fixed;
    z-index: 99;
    bottom: 0;
}
.relative {
    position: relative;
}

// TEXT-ALIGN
.text-center {
    text-align: center;
}

// TEXT-COLOR
.text-orange {
    color: $orange;
}
.text-grey {
    color: $grey;
}

// TEXT-WEIGHT
.text-bold {
    font-weight: 700;
}

// WIDTH
.full-width {
    width: 100%;
}

// other
.lineHeight-null {
    line-height: 0;
}